@import "tailwindcss";

@theme {
    --spacing-5vw: 5vw;
    --spacing-7vw: 7vw;
    --spacing-10vw: 10vw;
}

@layer theme {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
    }

    main {
        flex-grow: 1;
    }
}