.blog-post-featured-img {
    padding-inline: 10vw;
    margin-bottom: 3rem;
}

.blog-post-featured-img div {
    max-width: 48rem;
    margin: 0 auto;
    aspect-ratio: 4 / 3;
}

.blog-post-featured-img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0rem 0rem;
    object-fit: cover;
}

.blog-post-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 10vw;
    padding-block: 0px max(5vw, 2rem);
    line-height: 1.5em;
    gap: 2rem;
}

.blog-post-content-inner-div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 48rem;
}

.blog-post-content-inner-div h2 {
    font-size: 1.5rem;
}

.blog-post-content-inner-div ol {
    margin-left: 1rem;
}

.blog-post-content-inner-div ol li {
    list-style: decimal outside;
}

.blog-post-img {
    max-width: 48rem;
}

.blog-post-img img {
    width: 100%;
    border-radius: 1rem;
}

.blog-post-related {
    padding: max(5vw, 2rem) 10vw;
    background-color: #fff;
}

.blog-post-related--header {
    max-width: 48rem;
    text-align: center;
    margin: 0 auto max(5vw, 2rem);
}

.blog-related {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(18rem, 100%), 1fr));
    gap: 2rem 1.5rem;
}

.blog-item-meta {
    padding: 1rem 1.5rem;
}