.item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
}

.item article {
    padding: 1.5rem;
}

.item article time {
    color: #737865;
    font-size: 0.85rem;
}

.item figure {
    aspect-ratio: 4 / 3;
}

.item figure img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    vertical-align: middle;
}

.item h3 {
    margin-top: 0.75rem;
    font-size: 1.15rem;
    font-weight: 500;
}

.item p {
    color: #414536;
    margin-top: 1rem;
}