.item {
    padding: 1.5rem;
    border: 1px solid #DBDFD0;
    border-radius: 0.5rem;
    text-align: center;
}

.item figure {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.item figure div {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    width: 5rem;
    border-radius: 50%;
    background-color: #f3f3f0;
}

.item figure img {
    width: 2rem;
    height: auto;
    vertical-align: middle;
}

.item h3 {
    margin: 1rem 0;
    font-size: 1.25rem;
}

.item p {
    margin: 1rem 0 1.5rem;
}

.item a {
    color: #AD343E;
    font-weight: 600;
    transition: color 0.24s ease;

    &:hover {
        color: #c53440;
        transition: color 0.24s ease;
    }
}