.item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item figure img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 0.5rem;
    object-fit: cover;
    vertical-align: middle;
}

.item h3 {
    margin-top: 0.5rem;
    font-size: 1.25rem;
}