.contact-form, .contact-more {
    padding-inline: 10vw;
    display: flex;
    justify-content: center;
}

.contact-form form {
    width: clamp(min(20rem, 100% - 2rem), 100%, 48rem);
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 1rem -1px rgb(0 0 0 / 0.1), 0px 2px 1rem -2px rgb(0 0 0 / 0.1);
}

.contact-form fieldset {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.contact-form fieldset > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact-form-half-field {
    flex-basis: calc(50% - 1rem);
}

.contact-form-full-field {
    flex-basis: 100%;
}

.contact-form label {
    font-weight: 500;
}

.contact-form input, .contact-form textarea {
    padding: 0.75rem 1rem;
    font-family: var(--sans);
    border: 0.125rem solid oklch(from var(--color-body-bg) calc(l - 0.1) c h);
    transition: border-color 0.3s ease;

    &:focus {
        outline: none;
        border-color: oklch(from var(--color-body-bg) calc(l - 0.25) calc(c + 0.2) calc(h + 150));
        transition: border-color 0.3s ease;
    }

    &:user-invalid {
        border-color: red;
        outline: none;
        transition: border-color 0.3s ease;
    }
}

.contact-form input {
    border-radius: 5rem;
}

.contact-form textarea {
    border-radius: 1rem;
    resize: none;
}

.contact-more {
    margin: max(5vw, 2rem) 0px max(5vw, 4rem);
}

.contact-more_flex {
    max-width: 48rem;
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-more_flex h3 {
    color: #2c2f24;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
}

.contact-tel a {
    color: var(--color-footer-social);
    font-weight: 600;
    font-size: 1.4rem;
    transition: color 0.3s ease;

    &:hover {
        color: oklch(from var(--color-footer-social) calc(l + 0.1) calc(c + 0.1) h);
        transition: color 0.3s ease;
    }
}

main:has(.contact-form) {
    isolation: isolate;
}

main:has(.contact-form)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #fff;
    z-index: -1;
}