.cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 26rem;
    width: 100%;
}

.abc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.head{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32rem;
    margin-right: 3rem;
    height: 15.3rem;
}
.head>h2{
    font-family: var(--Playfair-font-family);
    font-size: 55px;
    font-weight: 500;
    color: #2C2F24;
}

.head>p{
    font-family: var(--DMSans-font-family);
    font-size: 16px;
    font-weight: 400;
    color: #414536;
    margin-right: 4rem;
}
.imcont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.box{
    display: flex;
    justify-content: center;
    width: 95%;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.box2{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ims{
    max-width: 34%;
    max-height: 40%;
}