.item {
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
    align-items: start;
}

.item figure {
    flex-basis: 4rem;
}

.item figure img {
    width: 100%;
    height: auto;
}

.item div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item h3 {
    font-size: 1.15rem;
    font-weight: 500;
}

.item p {
    color: #414536;
}