.item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #f9f9f7;
    padding: 1.5rem;
    border-radius: 1rem;
}

.item figure img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 0.5rem;
    object-fit: cover;
    vertical-align: middle;
}

.item h3 {
    color: #AD343E;
    margin-top: 0.5rem;
    font-size: 1.25rem;
}

.item article {
    margin-bottom: auto;
}

.item hr {
    margin: 0.5rem 0;
    border-top: 0.125rem solid #DBDFD0;
}

.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user figure {
    width: 3rem;
    aspect-ratio: 1;
}

.user img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}