.serif {
    font-family: var(--serif);
}

.sectH2 {
    font-size: 2.5rem;
    font-weight: 400;
}

.FlexEQ2 {
    display: flex;
    gap: max(5vw, 2rem);
    flex-wrap: wrap;
    align-items: center;
}

.FlexEQ2 > div {
    min-width: min(20rem, 100%);
}

.FlexEQ2 > div:first-child {
    flex: 1 1 40%;
}

.FlexEQ2 > div:last-child {
    flex: 1 1 30%;
}

.visit {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: end;
    min-height: calc(40vw - 1rem);
}

.visit > figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    border-radius: 0.5rem;
    overflow: clip;
}

.visit img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.come {
    position: relative;
    background-color: #474747;
    color: #fff;
    padding: calc(2vw + 1.5rem);
    border-radius: 0.5rem;
    z-index: 1;
    width: 60%;
    min-width: min(14rem, 80%);
}

.come h3 {
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
}

.invert {
    filter: invert(1);
}

.comeFlex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.comeFlex > div {
    display: flex;
    align-items: top;
    gap: 1rem;
}

.comeFlex img {
    width: 1.5rem;
    height: auto;
}

.comeFlex a {
    word-wrap: anywhere;
}

.VisitFood {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.healthyButton {
    display: flex;
}