@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --sans: 'DM Sans', sans-serif;
    --serif: 'Playfair Display', serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: inherit;
    line-height: 1.5em;
    vertical-align: baseline;
}

body {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f7;
    font-family: var(--sans);
}

.sect {
    padding: 5vw 10vw;
}

.sectW {
    background-color: white;
}

.sans {
    font-family: var(--sans);
}

.serif {
    font-family: var(--serif);
}

.textCenter {
    text-align: center;
}

.sectH2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.grid {
    display: grid;
}

.gridQuadFit{
    grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100%), 1fr));
    gap: 1.25rem;
}

.uniqueH2 {
    width: 50%;
    min-width: min(18rem, 100%);
    text-wrap: balance;
    margin-bottom: 3rem;
}

.delivery {
    display: flex;
    gap: max(5vw, 2rem);
    flex-wrap: wrap;
    align-items: center;
}

.delivery > div {
    min-width: min(20rem, 100%);
}

.delivery > div:first-child {
    flex: 1 1 40%;
}

.delivery > div:last-child {
    flex: 1 1 30%;
}

.deliFigs {
    display: flex;
    aspect-ratio: 1;
    justify-content: space-between;
    gap: 1rem;
    max-width: 42rem;
}

.deliFigs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
    aspect-ratio: inherit;
}

.deliFig1 {
    flex-basis: 60%;
}

.deliFig2 {
    margin-top: 2rem;
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    object-fit: cover;
}

.deliFig2 > figure:first-child {
    aspect-ratio: 3 / 4;
   
}

.deliFig2 > figure:last-child {
    aspect-ratio: 4 / 3;
     
}
.deliTexts {
    max-width: 38rem;
}

.deliTexts h2 {
    margin-bottom: 1rem;
}

.deliTexts ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 600;
    margin-top: calc(2rem + 2vw);
}

.deliTexts li {
    display: flex;
    gap: 1rem;
    align-items: start;
}

.deliTexts figure {
    flex: 0 0 2rem;
}

.deliTexts li p {
    flex-grow: 1;
}

.gridTrinity {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(14rem, 100%), 1fr));
    gap: calc(1rem + 0.5vw);
}

.BnAHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.BnAHead h2 {
    font-size: 2.5rem;
    font-weight: 400;
}

.homeBlogGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(18rem, 100%), 1fr));
    gap: 1rem;

    & p {
        display: none;
    }
}

@media only screen and (width >= 1200px) {
    .homeBlogGrid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .homeBlogGrid > a:first-child {
        grid-column: 1 / 3;
        grid-row: 1 / -1;
    }

    .homeBlogGrid > a:first-child p {
        display: block;
    }

    .homeBlogGrid > a:nth-child(2) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .homeBlogGrid > a:nth-child(3) {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }

    .homeBlogGrid > a:nth-child(4) {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }

    .homeBlogGrid > a:nth-child(2) {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }
}