@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css');

:root {
    --color-footer-bg: #474747;
    --color-footer-social: #ad343e;
    --color-body-bg: #f9f9f7;
    --sans: 'DM Sans', 'Helvetica Neue', Arial, sans-serif;
    --serif: 'Playfair Display', Georgia, serif;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    color: inherit;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: inherit;
    line-height: 1.5em;
    vertical-align: baseline;
}

body {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f7;
    font-family: var(--sans);
}

body, #root {
    min-height: 100dvh;
}

main {
    position: relative;
    flex-grow: 1;
}

footer {
    color: oklch(from var(--color-footer-bg) calc(l + 0.45) c h);
    background-color: var(--color-footer-bg);
    padding-block-end: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.footer-flex {
    display: flex;
    padding: 5vw;
    gap: 5vw;
    flex-wrap: wrap;
}

footer h3 {
    color: white;
    margin-bottom: 2.5rem;
    font-weight: 600;
}

footer hr {
    color: oklch(from var(--color-footer-bg) calc(l - 0.01) c h);
}

.footer-logo-sec {
    flex: 1 1 25%;
    min-width: 16rem;
}

.footer-logo-sec figure {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer-logo-sec figcaption {
    font-family: var(--serif);
    font-weight: 600;
    font-size: 1.875rem;
    color: #fff;
    font-style: italic;
}

.footer-details {
    color: oklch(from var(--color-footer-bg) calc(l + 0.3) c h);
}

.footer-link-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-pages {
    flex: 1 1 10%;
    min-width: 8rem;
}

footer a {
    transition: color 0.3s ease;

    &:hover {
        color: #fff;
        transition: color 0.3s ease;
    }
}

.footer-insta-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: min(2vw, 1rem);
}

.footer-insta-grid > div {
    aspect-ratio: 8/7;
    border-radius: 1rem;
    overflow: clip;
    position: relative;
}

.footer-insta-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-social {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.footer-social a {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    border-radius: 50%;
    font-size: 1.25rem;
    color: #fff;
    background-color: var(--color-footer-social);
    transition: background-color 0.3s ease;

    &:hover {
        background-color: oklch(from var(--color-footer-social) l calc(c + 0.1) h);
        transition: background-color 0.3s ease;
    }
}

.footer-insta-sec {
    flex: 1 1 25%;
    min-width: 16rem;
}

.footer-container {
    padding-block: 1.5rem 2rem;
    text-align: center;
    font-size: 0.9rem;
    color: oklch(from var(--color-footer-bg) calc(l + 0.3) c h);
}