.contact-form-submit {
    margin-top: 1.5rem;
    display: flex;
}

.contact-form-submit button {
    background-color: var(--color-footer-social);
    padding: 0.75rem 1rem;
    border-radius: 5rem;
    color: #fff;
    flex-grow: 1;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: oklch(from var(--color-footer-social) l calc(c + 0.1) h);
        transition: background-color 0.3s ease;
    }
}