* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: DMSans;
    src: url(../assets/fonts/DMSans.ttf);

    font-family: Playfair;
    src: url(../assets/fonts/PlayfairDisplay.ttf);
}

:root {
    --DMSans-font-family: DMSans;
    --Playfair-font-family: Playfair;
}

.main {
    background-color: #FFFFFF;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    height: 19.5rem;
}

.head{
    margin-bottom: 2rem;
}

.mitems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    width: 80%;
}

.order {
    background-color: #F9F9F7;
    margin-top: 8rem;
    /* margin-bottom: 4rem; */
    padding-bottom: 2rem;
}