.blog-post-related--header h2 {
    color: #2c2f24;
    font-family: var(--serif);
    font-size: 2.25rem;
    margin-bottom: 2rem;
    text-wrap: balance;
    line-height: 1.25em;
    width: unset;
}

.blog-post-related--header {
    max-width: 48rem;
    text-align: center;
    margin: 0 auto max(5vw, 2rem);
}