.blog-item {
    border-radius: 1rem;
    overflow: clip;
    background-color: #fff;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0px 2px 4px -2px rgb(0 0 0 / 0.1);
    translate: 0px 0px;
    transition: translate 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0px 4px 6px -4px rgb(0 0 0 / 0.1);
        translate: 0px -0.25rem;
        transition: translate 0.3s ease, box-shadow 0.3s ease;
    }
}

.blog-item figure {
    position: relative;
    aspect-ratio: 306 / 200;
    overflow: clip;
}

.blog-item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-item time {
    color: #737865;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    display: block;
}

.blog-item h2 {
    color: #2c2f24;
    font-weight: 500;
}

.blog-item-meta {
    padding: 1rem 1.5rem;
}